p{
    font-family: Montserrat;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px ;
}
.text2{
    text-decoration: underline;
    cursor: pointer;
}