body{
    height: 3000px;
}
.sidebar{
    background-color: green;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100px;
}
.message-box{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}.modal{
    background-color: white;
    width: 300px;
    height: 100px;
    padding:15px;
    border-radius:5px ;  
}
span{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif ;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

